/* Layout styles -----------------------------------*/
@media (min-width: 620px) {
  main {
    column-count: 2;
    column-gap: 20px;
  }

  section {
    break-inside: avoid;
  }
}

@media (min-width: 960px) {
  main {
     column-count: 3;
  }
}

/* styles */

:root {
  --blue: #4a6988;
  --red: #b54e44;
  --green: #387538;
  --gray: #7b7b7b;
}

body {
  background-color: var(--blue);
  font-family: 'Ubuntu', sans-serif;
  color: #34495e;
  text-align: center;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 20px 0;
}

.title {
  font-size: 2.6em;
  text-align: center;
  color: white;
  margin-bottom: 20px
}

.figure-img {
  display: block;
  width: 100%;
  object: fit;
}

h2 {
  font-size: 1.4em;
  padding: 10px;
}

p {
  margin-bottom: 1em;
  padding: 0 10px;
}

.info-link {
  text-decoration: none;
  color: var(--red);
  padding: 10px;
  display: block;
}

.options {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  border-top: 3px solid var(--red);
  border-radius: 3px;
  background-color: white;
}

.options-link {
  text-decoration: none;
  font-size: 0.9em;
  color: var(--red);
}

section {
  border-top: 3px solid var(--gray);
  border-radius: 3px;
  background-color: white;
  margin-bottom: 20px;
  overflow: hidden;
}

section.running {
  border-top: 3px solid var(--green);
}

section.exited {
  border-top: 3px solid var(--red);
}

a.running {
  background-color: var(--green) !important;
}

a.exited {
  background-color: var(--red) !important;
}

.section-img {
  display: block;
  padding: 10px;
  margin: 0 auto;
}

.bigtitle {
  padding: 0;
}

.bigtitle-title {
  color: white;
  background-color: var(--red);
  margin-bottom: 10px;
}

.bigbottom-link {
  background-color: var(--gray);
  color: white;
  border-radius: 5px;
}

.profile {
  width: 80%;
  border-radius: 50%;
  margin-bottom: 10px;
}

@media (min-width: 620px) {
  .options-link {
    font-size: 1.4em;
  }
}

#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  top: 30px; /* 30px from the top */
  border-radius: 5px; /* Rounded corners */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade inthe snackbar */
  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;} 
  to {top: 30px; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}
